{#
/**
 * @file html_page.html.twig
 * Default theme implementation to present Html page data.
 *
 * This template is used when viewing Html page pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_html_page()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('html_page') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
